<!DOCTYPE html>
<html>
<head>

</head>

<body ng-app ng-init="ClassName = 'JavaUI'; Topic = 'Angular';">
  <strong>class name:</strong> {{ClassName}}<br />
  <strong>Topic name:</strong> <span ng-bind="Topic"></span><br />
  <br />
  <label>Set the class name: <input type="text" ng-model="ClassName"/></label><br />
  <label>Set the Topic name: <input type="text" ng-model="Topic"/></label>

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>
</html>